__pycache__/
*.py[cod]
*$py.class
.vscode/

venv/
build/
dist/
main.spec
instance/
.webassets-cache
to_add.py
Failed To Update Manga Read Status.csv
Mangadex Follow List.csv
To Update Status.csv
secret.py
toUpdate.txt
